# Visual Studio files
.vs/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio code coverage results
*.coverage
*.coveragexml

# Packages
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# ASP.NET Scaffolding
ScaffoldingReadMe.txt